In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [21]:
df=pd.read_csv("homeprices.csv")
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [22]:
df.bedrooms.median()

4.0

In [23]:
df.bedrooms = df.bedrooms.fillna(df.bedrooms.median())
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

AttributeError: 'Series' object has no attribute 'bedrooms'

In [28]:
reg= linear_model.LinearRegression()
reg.fit(df[['area','bedrooms','age']],df.price)

LinearRegression()

In [30]:
reg.predict([[3000,3,40]])

array([498408.25158031])

In [31]:
reg.predict([[2500,4,5]])

array([578876.03748933])

In [ ]:
x=np.array([92,56,88,70,80,49,65,35,66,67])
y=np.array([98,68,81,80,83,52,66,30,68,73])